body {
  font-family: 'Muli', sans-serif;
 /* text-align: center;
  font-size: 25px;
  margin: 90px;
  background-color: #74C88D;
  background-image: linear-gradient(to bottom right, #74C88D, #B92B4E);
  color: white;
  */
}

ol {
  list-style-type: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}