
	@font-face {
		font-family: "Futura Book Regular";
		src: url("fonts/Futura_Book_Regular.otf"); 
	}

	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #00AEEF;
		font-family: Myriad Pro; 
	}

	nav {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
		border-bottom: 1px solid white;
		width: 100vw;
		color: white;
		font-size: 40px;		
	}
	i {
		margin: 15px;
	}

	/* hr {
		width: 300px;		
		margin-top: 0px;
		margin-bottom: 35px;
		border-top: 4px solid white;
	} */

	main {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	section {
		width: 500px;
		background-color: white;
		display: grid;
		grid-template-columns: 90px 1fr 140px;
		margin: 6px;
		border-radius: 5px;
		padding-right: 25px;
		padding-left: 10px;
	}

	.element {
		margin: 8px 15px 8px 15px;		
	}

	div.element {
		font-size: 14px;
		margin-left: 30px;
		padding-top: 15px;
	}

	img.element {
		width: 75px;
		height: 75px;
		border-radius: 50%;
	}

	button.element {
		background-color: white;
		padding: 10px 15px 7px 15px;
		align-self: center;
		font-size: 17px;
		font-family: Myriad Pro;
		border: 2px solid gray;
	}

	a:visited {
		color: white;
	}
